<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static - Page</title>
</head>
<body>
    <h1> template - Page </h1>
    <button id="btnHello" onclick="sayHello()">點擊Say Hello</button>
    <!-- <script src="../static/script.js"></script> -->
    <script type = "text/javascript"
    src = "{{ url_for('static',filename = 'script.js') }}"></script>
    <!-- 板模引擎寫法,url_for 為轉址函式--> 
    <!-- filename 參數可使用其他資源-->



    
</body>
</html>